<%- include ("../partials/header")%>

<body class="articles-bg-color">
  <div class="container articles-wrapper">
    <h1 class="mb-4">Health Blog Articles</h1>
    <a href="/articles/new" class="btn btn-success ">New Article</a>
    <div class="card-deck">
     <% articles.forEach(article => { %>
     <div class="card-body">
      <div class="card border-primary mb-3" style="max-width: 18rem;">
      <div  class="p-3 mb-2 bg-info text-white vertical-center"><h4><%= article.articleData.Title %></h4></div>
      <div class="card-body text-primary">
      <h5 class="card-title"><%= article.articleData.Description %></h5>
      <a href="articles/<%= article.id %>" class="btn btn-primary" >Read More</a>
      <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
      <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
      <button type="submit" class="btn btn-danger">Delete</button>
      </form>
      </div>
      </div>
      </div>
     

    <% }) %>
     </div>
  </div>
  </body>
<%- include ("../partials/footer")%>
